@using CIIC.HSR.TSP.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/kendo")
    @Styles.Render("~/Content/kendo/NewStyle1")
    @*@Scripts.Render("~/bundles/control")
    @Scripts.Render("~/bundles/wfcontrol")*@
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li><a href="#">欢迎 @HttpContext.Current.GetCurrentUserInfo().UserName</a></li>
    <li><a href="#">ID:@HttpContext.Current.GetCurrentUserInfo().UserID</a></li>
                        <li>@Html.ActionLink("注销", "SignOff", "Login")</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("报销", "StartWorkflow", "Home")</li>
                    <li>@Html.ActionLink("待办", "TaskList", "Home")</li>
                    <li>@Html.ActionLink("缓存待办", "CacheTask", "Home")</li>
                    <li>@Html.ActionLink("Excel创建流程", "ExcelToDynamicProcess", "Home")</li>
                    <li>@Html.ActionLink("报销动态流程", "StartDynamicProcess", "Home")</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
