@model CIIC.HSR.TSP.WF.Ctrl.Test.Models.Expense
@{
    ViewBag.Title = "MoveTo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function afterClick(result, sender, progressbar) {
        $("#input6").val(JSON.stringify(result));
        //$.fn.HSR.Controls.WFGraph("#wfgraph").Reload();
        //$.fn.HSR.Controls.WFGraph("#wfgraph2").Reload();
        //window.location.reload();
        $("#WFUpdateProcess").click();    
    }
    function beforeClick(sender, progressbar,params) {
        var frmValid = $('#expenseForm').valid();
        if (frmValid) {
            var data = $('#expenseForm').serialize();
            return data;
        }
        else {
            return false;
        }
    }
</script>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#" target="_parent">首页</a></li>
        <li><span class="label label-success" id="QueryCustName">报销</span></li>
        <li><a href="#">差旅报销</a></li>
        <li>审批报销单</li>
    </ol>
    <div class="panel panel-default">
     
        <div class="panel-heading clearfix panel-title">
            审批报销单
            <div class="btn-group pull-right" id="toolbarContainer">
                @Html.Partial("WFToolbar")
            </div>
            <div style="display:none">
                @(
 Html.HSRUIWF().WFUpdateProcess().Name("WFUpdateProcess").BeforeClick("beforeClick").ActionUrl(Url.Action("UpdateProcess", "Home")).AddUpdateElement("toolbarContainer", "WFToolbar").AddUpdateElement("wfGraphWrap", "WFGraph")
                )
            </div>
        </div>
        <div class="panel-heading clearfix panel-title">
            流程流转按钮-横向显示
            <div class="pull-right">             
                @(
 Html.HSRUIWF().WFToolbarMoveToWorkflow().Direction(p => p.Default()).ActionUrl(Url.Action("MoveTo", "home"))
                                                    .AfterClick("afterClick").BeforeClick("beforeClick")
                                .Name("ExpenseApprove").ProgressBar(true).IsSplit(true)
                        .DictionaryWfClientUser(Model.DictionaryWfClientUser)
                )
                @(
                 Html.HSRUIWF().WFPauseWorkflow().ActionUrl(Url.Action("PauseWorkflow", "home")).AfterClick("afterClick")
                                .BeforeClick("beforeClick").Text("暂停").DialogText("您确定要暂停吗？").Name("btnPauseWf").ProgressBar(false)

                )

                @(
                 Html.HSRUIWF().WFResumeWorkflow().ActionUrl(Url.Action("ResumeWorkflow", "home")).AfterClick("afterClick")
                                           .BeforeClick("beforeClick").Text("重启")
                                            .DialogText("您确定要重启吗？").Name("btnResumeWf").ProgressBar(false)
                )

                @(
                 Html.HSRUIWF().WFCancelWorkflow().ActionUrl(Url.Action("CancelWorkflow", "home")).AfterClick("afterClick")
                                       .BeforeClick("beforeClick").Text("作废")
                                               .DialogText("您确定要作废吗？").Name("btnCancelWf").ProgressBar(false)
                )

                @(
                 Html.HSRUIWF().WFRestoreWorkflow().ActionUrl(Url.Action("RestoreWorkflow", "home")).AfterClick("afterClick")
                                                        .BeforeClick("beforeClick").Text("恢复")
                                                .DialogText("您确定要恢复吗？").Name("btnRestoreWf").ProgressBar(false)
                )
                @(
                 Html.HSRUIWF().WFWithdrawWorkflow().ActionUrl(Url.Action("WithdrawWorkflow", "home")).AfterClick("afterClick")
                                                   .BeforeClick("beforeClick").Text("撤回")
                                                   .DialogText("您确定要撤回吗？").Name("btnWithdrawWf").ProgressBar(false)
                )


                @(
    Html.HSRUIWF().WFTrackWorkflow().Text("跟踪").Name("btnTrackWf").ProgressBar(false)
                )

                @(
 Html.HSRUIWF().WFSaveWorkflow().ActionUrl(Url.Action("SaveWorkflow", "home")).AfterClick("afterClick")
                                                    .BeforeClick("beforeClick").Text("保存")
                                            .DialogText("您确定要保存吗？").Name("btnSaveWf").ProgressBar(false)
                )
            </div>

        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="expenseForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">员工姓名</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Name)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">部门</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Department)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">金额</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Amount)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">日期</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.TransitionDate)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">流程信息</label>
                                <div class="col-sm-8 col-xs-8">
                                    <textarea class="form-control" id="input6" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label" id="OpinionContainer">审核意见</label>
                                <div class="col-sm-8 col-xs-8">
                                    @(
 Html.HSRUIWF().WFComments().Collumns(5).Lines(3).OpinionContainerId("OpinionContainer")
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-lg-12">
                        @(
 Html.HSRUIWF().WFOpinionGridList().Name("wfOpinionListTest").PageSize(1).Title("流程审批意见").Height(150)
                        )
                    </div>
                </div>


                    <div class="row">
                        <div class="col-lg-12" id="wfGraphWrap">
                           @Html.Partial("WFGraph")
                        </div>
                    </div>
                <div>
                    <input type="button" value="刷新"  onclick="f()"/>
                    <script>
                        function f() {
                            $("#WFUpdateProcess").click();
                        }
                    </script>
                  
                </div>

</form>
        </div>
    </div>

        </div>


