@model CIIC.HSR.TSP.WF.Ctrl.Test.Models.Expense
@{
    ViewBag.Title = "RestoreWorkflow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#" target="_parent">首页</a></li>
        <li><span class="label label-success" id="QueryCustName">报销</span></li>
        <li><a href="#">差旅报销</a></li>
        <li>恢复流程测试</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading clearfix panel-title">
            恢复报销单
            <div class="btn-group pull-right">
                @(
  
                    Html.HSRUIWF().WFRestoreWorkflow().ActionUrl(Url.Action("RestoreWorkflow", "home")).AfterClick("afterClick")
                    .BeforeClick("beforeClick").Text("恢复工作流程")
                    .DialogText("你确定要恢复吗？").Name("btnRestoreWf").ProgressBar(false)
                ) 
                <a href="#" class="btn btn-default" target="_parent">返回</a>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="expenseForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">员工姓名</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p=>p.Name)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">部门</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Department)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">金额</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Amount)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">日期</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.TransitionDate)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="input6" class="col-lg-2 col-md-2 col-sm-4 col-xs-4 control-label">流程信息</label>
                                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                                    <textarea class="form-control" id="input6" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function afterClick(result, sender, progressbar)
    {
        $("#input6").val(JSON.stringify(result));
    }
    function beforeClick(sender, progressbar)
    {
        var frmValid = $('#expenseForm').valid();
        if (frmValid) {
            var data = $('#expenseForm').serialize();
            return data;
        }
        else {
            return false;
        }
    }
</script>

