@model CIIC.HSR.TSP.WF.Ctrl.Test.Models.Expense
@using CIIC.HSR.TSP.WebComponents.Extensions
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "StartWorkflow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-error {
        color:red !important;
    }
</style>
<script type="text/javascript">

    function afterClick(result, sender, progressbar) {
        $("#input6").val(JSON.stringify(result));
        $.fn.HSR.Controls.WFGraph("#wfgraph").Reload(result.ProcessInfo.ID);
    }
    function beforeClick(sender, progressbar) {
        var frmValid = $('#expenseForm').valid();
        if (frmValid) {
            var data = $('#expenseForm').serialize();
            return data;
        }
        else {
            return false;
        }
    }
</script>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="#" target="_parent">首页</a></li>
        <li><span class="label label-success" id="QueryCustName">报销</span></li>
        <li><a href="#">差旅报销</a></li>
        <li>创建报销单</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading clearfix panel-title">
            创建报销单 @**@
            <div class="btn-group pull-right">


                    @(
 Html.HSRUIWF().WFStartWorkflow()
.AfterClick("afterClick").BeforeClick("beforeClick").DialogText("你确定要提交吗？").ActionUrl(Url.Action("StartWorkflow", "home"))
.Name("ExprenSubmit").TemplateKey("ProcessDemo").Text("提交报销").ProgressBar(true)
                    .BusinessUrl(Url.Action("StartWorkflow", "home")).TaskTitle("测试报销")
            .DictionaryWfClientUser(Model.DictionaryWfClientUser)
                    )

                    <a href="#" class="btn btn-default" target="_parent">返回</a>
</div>

        </div>

        <div class="panel-heading clearfix panel-title">
        流程启动按钮-横向显示
        <div class="btn-group pull-right">
            @(
 Html.HSRUIWF().WFToolbarStartWorkflow()
               .Direction(d => d.Default())
               .SizeMode(p => p.Default())
               .AfterClick("afterClick")
               .BeforeClick("beforeClick")
               .DialogText("你确定要提交吗？")
               .ActionUrl(Url.Action("StartWorkflow", "home"))
               .Name("ExprenSubmit2")
               .TemplateKey("ProcessDemo")
               .Text("提交报销").ProgressBar(true)
               .BusinessUrl(Url.Action("StartWorkflow", "home"))
               .TaskTitle("测试报销")
               .IconList("glyphicon glyphicon-plus,glyphicon glyphicon-envelope")
               .IsSplit(true)
               .DictionaryWfClientUser(Model.DictionaryWfClientUser)
             
              )
            )
        </div>
     
      </div>
        <div class="panel-heading clearfix panel-title">
            流程启动按钮-WFGraph
            <div class="btn-group pull-right">
                @(
 Html.HSRUIWF().WFToolbarStartWorkflow().Direction(d => d.Default()).SizeMode(p => p.Default()).AfterClick("afterClick").BeforeClick("beforeClick").DialogText("你确定要提交吗？").ActionUrl(Url.Action("StartWorkflow", "home"))
                    .Name("ExprenSubmit2").TemplateKey("WFGraph").Text("提交流程导航测试").ProgressBar(true).BusinessUrl(Url.Action("StartWorkflow", "home")).TaskTitle("测试报销").IconList("glyphicon glyphicon-plus,glyphicon glyphicon-envelope").IsSplit(true)
                )
            </div>

        </div>
        <div class="panel-heading clearfix panel-title">
            流程启动按钮-branch
            <div class="btn-group pull-right">
                @(
 Html.HSRUIWF().WFToolbarStartWorkflow().Direction(d => d.Default()).SizeMode(p => p.Default()).AfterClick("afterClick").BeforeClick("beforeClick").DialogText("你确定要提交吗？").ActionUrl(Url.Action("StartWorkflow", "home"))
            .Name("ExprenSubmit3").TemplateKey("TestBranch").Text("提交子流程测试").ProgressBar(true).BusinessUrl(Url.Action("StartWorkflow", "home")).TaskTitle("测试报销").IconList("glyphicon glyphicon-plus,glyphicon glyphicon-envelope").IsSplit(true)
                )
            </div>

        </div>



        <div class="panel-body">
            <form class="form-horizontal" id="expenseForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">员工姓名</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Name)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">部门</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Department)
                                    @Html.ValidationMessageFor(p => p.Department)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">金额</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.Amount)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">日期</label>
                                <div class="col-sm-8 col-xs-8">
                                    @Html.HSRUI().TextBoxFor(p => p.TransitionDate)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">流程信息</label>
                                <div class="col-sm-8 col-xs-8">
                                    <textarea class="form-control" id="input6" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-4 col-xs-4 control-label">流程备注</label>
                                <div class="col-sm-8 col-xs-8">
                                    @(
 Html.HSRUIWF().WFComments().Collumns(20).Lines(3).Enabled(true)
                                    )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @Html.HSRUIWF().WFGraph().Name("wfgraph")
                    </div>
                </div>
</form>
        </div>
    </div>
</div>
<div class="dropdown btn-group" id="btnMore" name="btnMore">
    <button name="btnMore_DropButton"
            class="dropdown-toggle btn-default btn" id="btnMore_DropButton" type="submit"
            data-toggle="dropdown" dropdownbuttondata='{"ClientClick":null,"DialogText":null,"EnableDialog":false,"ProgressBar":false,"IsDivided":false}'>
        更多<span class="caret"></span>
    </button><ui class="dropdown-menu-right dropdown-menu"
                 role="menu" aria-labelledby="btnMore_DropButton">
        <li role="presentation" command="Stop" dropitemdata='{"EnableDialog":false,"DialogText":null,"ClientHandler":"OptionClick","Command":"Stop","Enabled":true,"ProgressBar":false}'>
            <a href="http://localhost:20280/Test1/SSPOM/CustHRArea/CustHRAreaList#">停用</a>
        </li>
        <li role="presentation" command="Enable" dropitemdata='{"EnableDialog":false,"DialogText":null,"ClientHandler":"OptionClick","Command":"Enable","Enabled":true,"ProgressBar":false}'>
            <a href="http://localhost:20280/Test1/SSPOM/CustHRArea/CustHRAreaList#">启用</a>
        </li>
    </ui>
</div>