@model CIIC.HSR.TSP.WF.Ctrl.Test.Models.TaskModel
@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>待办列表</h2>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">待办</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">已办</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>任务标题</th>
                    <th>接收人ID</th>
                    <th>接收人姓名</th>
                    <th>创建时间</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UncompletedTask.Items)
                {
                    <tr>
                        <td><a href="@item.URL" target="_blank">@item.TASK_TITLE</a></td>
                        <td>@item.SEND_TO_USER</td>
                        <td>@item.SEND_TO_USER_NAME</td>
                        <td>@if(item.TASK_START_TIME.HasValue)
                            {
                                @item.TASK_START_TIME.Value.ToLocalTime()
                            }
                            else 
                            {
                                @item.TASK_START_TIME
                            }</td>
                        <td>@item.TASK_GUID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="profile">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>任务标题</th>
                    <th>接收人ID</th>
                    <th>接收人姓名</th>
                    <th>创建时间</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CompletedTask.Items)
                {
                    <tr>
                        <td><a href="@item.URL" target="_blank">@item.TASK_TITLE</a></td>
                        <td>@item.SEND_TO_USER</td>
                        <td>@item.SEND_TO_USER_NAME</td>
                        <td>@if (item.TASK_START_TIME.HasValue)
                        {
                            @item.TASK_START_TIME.Value.ToLocalTime()
                        }
                        else
                        {
                            @item.TASK_START_TIME
                        }</td>
                        <td>@item.TASK_GUID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>